openapi: '3.0.0'
info:
  title: Fitness Coaching App Backend API
  description: Backend API for Fitness Coaching App
  version: 0.0.5

servers:
  - url: https://asia-southeast1-fitness-coaching-app.cloudfunctions.net/dev-api
    description: Development server
  - url: https://asia-southeast1-fitness-coaching-app.cloudfunctions.net/fca-api
    description: Production server
  - url: ''
    description: Local server

components:
  securitySchemes:
    BearerRefreshToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
    BearerAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  /auth/signIn:
    $ref: './paths/auth/signIn.yaml'
  /auth/register:
    $ref: './paths/auth/register.yaml'
  /auth/verifyEmail/{token}:
    $ref: './paths/auth/verifyEmail@{token}.yaml'
  /auth/refreshToken:
    $ref: './paths/auth/refreshToken.yaml'
  /auth/forgetPassword:
    $ref: './paths/auth/forgetPassword.yaml'
  /auth/resendVerificationEmail:
    $ref: './paths/auth/resendVerificationEmail.yaml'

  /user/getUserInfo/{displayName}:
    $ref: './paths/user/getUserInfo@{displayName}.yaml'
  /user/editUserInfo:
    $ref: './paths/user/editUserInfo.yaml'
  /user/editProfilePicture:
    $ref: './paths/user/editProfilePicture.yaml'
  /user/newUserSetup:
    $ref: './paths/user/newUserSetup.yaml'
  /user/checkVerificationStatus:
    $ref: './paths/user/checkVerificationStatus.yaml'
  /user/setNewPassword:
    $ref: './paths/user/setNewPassword.yaml'
  /user/addFollower:
    $ref: './paths/user/addFollower.yaml'
  /user/removeFollower:
    $ref: './paths/user/removeFollower.yaml'
  /user/getFollowerList:
    $ref: './paths/user/getFollowerList.yaml'
  /user/getFollowingList:
    $ref: './paths/user/getFollowingList.yaml'
  /user/getFollowerList/{displayName}/public:
    $ref: './paths/user/getFollowerListPublic.yaml'
  /user/getFollowingList/{displayName}/public:
    $ref: './paths/user/getFollowingListPublic.yaml'

  /home/getSections:
    $ref: './paths/home/getSections.yaml'

  /course/id/{courseId}:
    $ref: './paths/course/id@{courseId}.yaml'

  /exercise/complete:
    $ref: './paths/exercise/complete.yaml'
  /exercise/postExercise:
    $ref: './paths/exercise/postExercise.yaml'

  /search:
    $ref: './paths/search/search.yaml'
  /search/getFilterParams:
    $ref: './paths/search/getFilterParams.yaml'

  /achievement/getList:
    $ref: './paths/achievement/getList.yaml'

  /leaderboard/global:
    $ref: './paths/leaderboard/global.yaml'
  /leaderboard/followingUsers:
    $ref: './paths/leaderboard/followingUsers.yaml'

  /news/fetch:
    $ref: './paths/news/fetch.yaml'
  /news/like/{newsId}:
    $ref: './paths/news/like@{newsId}.yaml'
  /news/unlike/{newsId}:
    $ref: './paths/news/unlike@{newsId}.yaml'


